# === PostgreSQL ===
POSTGRES_DB=homelab
POSTGRES_USER=nasadmin
POSTGRES_PASSWORD=__pega_aqui__

# === pgAdmin ===
PGADMIN_EMAIL=tu_email
PGADMIN_PASSWORD=__pega_aqui__

# === Redis ===
REDIS_PASSWORD=__pega_aqui__

# === TZ y SERVER_IP se heredan de ../.env (global) ===
