# === PostgreSQL ===
POSTGRES_DB=appdb
POSTGRES_USER=__pega_aqui__
POSTGRES_PASSWORD=__pega_aqui__

# === pgAdmin ===
PGADMIN_EMAIL=tu_email
PGADMIN_PASSWORD=__pega_aqui__

# === Redis ===
REDIS_PASSWORD=__pega_aqui__

# === Zona horaria ===
TZ=America/La_Paz
